In [20]:
import pandas as pd
import talib

In [6]:
talib.get_function_groups().keys()

dict_keys(['Cycle Indicators', 'Math Operators', 'Math Transform', 'Momentum Indicators', 'Overlap Studies', 'Pattern Recognition', 'Price Transform', 'Statistic Functions', 'Volatility Indicators', 'Volume Indicators'])

In [9]:
df = pd.read_csv('./data/TEST_2019-01-01~2020-05-01.csv')
df.head()

         date        tic   open   high    low  close        amount
0  2019-01-02  sh.600000   9.74   9.79   9.58   9.70  2.296257e+08
1  2019-01-02  sh.600028   5.10   5.11   4.96   5.01  1.097685e+09
2  2019-01-02  sh.600030  16.01  16.01  16.01  16.01  0.000000e+00
3  2019-01-02  sh.600031   8.31   8.31   7.95   8.05  4.243270e+08
4  2019-01-03  sh.600000   9.70   9.82   9.66   9.81  1.819760e+08

In [11]:
tics = df['tic'].unique().tolist()
tics

['sh.600000', 'sh.600028', 'sh.600030', 'sh.600031']

In [27]:
data = df[df['tic'] == 'sh.600000'].reset_index(drop=True)
data.head()

         date        tic   open   high   low  close       amount
0  2019-01-02  sh.600000   9.74   9.79  9.58   9.70  229625669.0
1  2019-01-03  sh.600000   9.70   9.82  9.66   9.81  181975985.0
2  2019-01-04  sh.600000   9.73  10.00  9.70   9.96  268964563.0
3  2019-01-07  sh.600000  10.09  10.09  9.92   9.98  235440197.0
4  2019-01-08  sh.600000  10.03  10.03  9.91   9.96  150501650.0

In [28]:
data['macd'], data['macdsignal'], data['macdhist'] = talib.MACD(data['close'], fastperiod=12, slowperiod=26, signalperiod=9)

In [32]:
data['RSI'] = talib.RSI(data['close'], timeperiod=14)

In [34]:
data['MOM'] = talib.MOM(data['close'], timeperiod=10)