In [27]:
import pandas as pd
import talib
from datetime import datetime
import itertools

In [2]:
from data_processor.indicator import add_tech_indicator

In [3]:
price_df = pd.read_csv("./data/TEST_2019-01-01~2020-05-01_price.csv")
fund_df = pd.read_csv("./data/TEST_2019-01-01~2020-05-01_fund.csv")

In [10]:
price = price_df[price_df['tic'] == 'sh.600000'].reset_index(drop=True)
fund = fund_df[fund_df['tic'] == 'sh.600000'].reset_index(drop=True)

In [38]:
price['date'] = pd.to_datetime(price['date'])

In [44]:
fund['date'] = pd.to_datetime(fund['date'])

In [16]:
date = price['date'].unique().tolist()
date

['2019-01-02',
 '2019-01-03',
 '2019-01-04',
 '2019-01-07',
 '2019-01-08',
 '2019-01-09',
 '2019-01-10',
 '2019-01-11',
 '2019-01-14',
 '2019-01-15',
 '2019-01-16',
 '2019-01-17',
 '2019-01-18',
 '2019-01-21',
 '2019-01-22',
 '2019-01-23',
 '2019-01-24',
 '2019-01-25',
 '2019-01-28',
 '2019-01-29',
 '2019-01-30',
 '2019-01-31',
 '2019-02-01',
 '2019-02-11',
 '2019-02-12',
 '2019-02-13',
 '2019-02-14',
 '2019-02-15',
 '2019-02-18',
 '2019-02-19',
 '2019-02-20',
 '2019-02-21',
 '2019-02-22',
 '2019-02-25',
 '2019-02-26',
 '2019-02-27',
 '2019-02-28',
 '2019-03-01',
 '2019-03-04',
 '2019-03-05',
 '2019-03-06',
 '2019-03-07',
 '2019-03-08',
 '2019-03-11',
 '2019-03-12',
 '2019-03-13',
 '2019-03-14',
 '2019-03-15',
 '2019-03-18',
 '2019-03-19',
 '2019-03-20',
 '2019-03-21',
 '2019-03-22',
 '2019-03-25',
 '2019-03-26',
 '2019-03-27',
 '2019-03-28',
 '2019-03-29',
 '2019-04-01',
 '2019-04-02',
 '2019-04-03',
 '2019-04-04',
 '2019-04-08',
 '2019-04-09',
 '2019-04-10',
 '2019-04-11',
 '2019-04-12',
 '2019-04-15',
 '2019-04-16',
 '2019-04-17',
 '2019-04-18',
 '2019-04-19',
 '2019-04-22',
 '2019-04-23',
 '2019-04-24',
 '2019-04-25',
 '2019-04-26',
 '2019-04-29',
 '2019-04-30',
 '2019-05-06',
 '2019-05-07',
 '2019-05-08',
 '2019-05-09',
 '2019-05-10',
 '2019-05-13',
 '2019-05-14',
 '2019-05-15',
 '2019-05-16',
 '2019-05-17',
 '2019-05-20',
 '2019-05-21',
 '2019-05-22',
 '2019-05-23',
 '2019-05-24',
 '2019-05-27',
 '2019-05-28',
 '2019-05-29',
 '2019-05-30',
 '2019-05-31',
 '2019-06-03',
 '2019-06-04',
 '2019-06-05',
 '2019-06-06',
 '2019-06-10',
 '2019-06-11',
 '2019-06-12',
 '2019-06-13',
 '2019-06-14',
 '2019-06-17',
 '2019-06-18',
 '2019-06-19',
 '2019-06-20',
 '2019-06-21',
 '2019-06-24',
 '2019-06-25',
 '2019-06-26',
 '2019-06-27',
 '2019-06-28',
 '2019-07-01',
 '2019-07-02',
 '2019-07-03',
 '2019-07-04',
 '2019-07-05',
 '2019-07-08',
 '2019-07-09',
 '2019-07-10',
 '2019-07-11',
 '2019-07-12',
 '2019-07-15',
 '2019-07-16',
 '2019-07-17',
 '2019-07-18',
 '2019-07-19',
 '2019-07-22',
 '2019-07-23',
 '2019-07-24',
 '2019-07-25',
 '2019-07-26',
 '2019-07-29',
 '2019-07-30',
 '2019-07-31',
 '2019-08-01',
 '2019-08-02',
 '2019-08-05',
 '2019-08-06',
 '2019-08-07',
 '2019-08-08',
 '2019-08-09',
 '2019-08-12',
 '2019-08-13',
 '2019-08-14',
 '2019-08-15',
 '2019-08-16',
 '2019-08-19',
 '2019-08-20',
 '2019-08-21',
 '2019-08-22',
 '2019-08-23',
 '2019-08-26',
 '2019-08-27',
 '2019-08-28',
 '2019-08-29',
 '2019-08-30',
 '2019-09-02',
 '2019-09-03',
 '2019-09-04',
 '2019-09-05',
 '2019-09-06',
 '2019-09-09',
 '2019-09-10',
 '2019-09-11',
 '2019-09-12',
 '2019-09-16',
 '2019-09-17',
 '2019-09-18',
 '2019-09-19',
 '2019-09-20',
 '2019-09-23',
 '2019-09-24',
 '2019-09-25',
 '2019-09-26',
 '2019-09-27',
 '2019-09-30',
 '2019-10-08',
 '2019-10-09',
 '2019-10-10',
 '2019-10-11',
 '2019-10-14',
 '2019-10-15',
 '2019-10-16',
 '2019-10-17',
 '2019-10-18',
 '2019-10-21',
 '2019-10-22',
 '2019-10-23',
 '2019-10-24',
 '2019-10-25',
 '2019-10-28',
 '2019-10-29',
 '2019-10-30',
 '2019-10-31',
 '2019-11-01',
 '2019-11-04',
 '2019-11-05',
 '2019-11-06',
 '2019-11-07',
 '2019-11-08',
 '2019-11-11',
 '2019-11-12',
 '2019-11-13',
 '2019-11-14',
 '2019-11-15',
 '2019-11-18',
 '2019-11-19',
 '2019-11-20',
 '2019-11-21',
 '2019-11-22',
 '2019-11-25',
 '2019-11-26',
 '2019-11-27',
 '2019-11-28',
 '2019-11-29',
 '2019-12-02',
 '2019-12-03',
 '2019-12-04',
 '2019-12-05',
 '2019-12-06',
 '2019-12-09',
 '2019-12-10',
 '2019-12-11',
 '2019-12-12',
 '2019-12-13',
 '2019-12-16',
 '2019-12-17',
 '2019-12-18',
 '2019-12-19',
 '2019-12-20',
 '2019-12-23',
 '2019-12-24',
 '2019-12-25',
 '2019-12-26',
 '2019-12-27',
 '2019-12-30',
 '2019-12-31',
 '2020-01-02',
 '2020-01-03',
 '2020-01-06',
 '2020-01-07',
 '2020-01-08',
 '2020-01-09',
 '2020-01-10',
 '2020-01-13',
 '2020-01-14',
 '2020-01-15',
 '2020-01-16',
 '2020-01-17',
 '2020-01-20',
 '2020-01-21',
 '2020-01-22',
 '2020-01-23',
 '2020-02-03',
 '2020-02-04',
 '2020-02-05',
 '2020-02-06',
 '2020-02-07',
 '2020-02-10',
 '2020-02-11',
 '2020-02-12',
 '2020-02-13',
 '2020-02-14',
 '2020-02-17',
 '2020-02-18',
 '2020-02-19',
 '2020-02-20',
 '2020-02-21',
 '2020-02-24',
 '2020-02-25',
 '2020-02-26',
 '2020-02-27',
 '2020-02-28',
 '2020-03-02',
 '2020-03-03',
 '2020-03-04',
 '2020-03-05',
 '2020-03-06',
 '2020-03-09',
 '2020-03-10',
 '2020-03-11',
 '2020-03-12',
 '2020-03-13',
 '2020-03-16',
 '2020-03-17',
 '2020-03-18',
 '2020-03-19',
 '2020-03-20',
 '2020-03-23',
 '2020-03-24',
 '2020-03-25',
 '2020-03-26',
 '2020-03-27',
 '2020-03-30',
 '2020-03-31',
 '2020-04-01',
 '2020-04-02',
 '2020-04-03',
 '2020-04-07',
 '2020-04-08',
 '2020-04-09',
 '2020-04-10',
 '2020-04-13',
 '2020-04-14',
 '2020-04-15',
 '2020-04-16',
 '2020-04-17',
 '2020-04-20',
 '2020-04-21',
 '2020-04-22',
 '2020-04-23',
 '2020-04-24',
 '2020-04-27',
 '2020-04-28',
 '2020-04-29',
 '2020-04-30']

In [40]:
list_date = list(pd.date_range(price['date'].min(), price['date'].max()))

In [57]:
process = pd.DataFrame(list_date, columns=['date']).merge(price, on='date', how='left')

In [58]:
process = process.merge(fund.drop(index=3), how="left", on=['date'])

In [55]:
fund.drop(index=3)

,Unnamed: 0,tic,date,ROE,AssetStoEquity,Pnitoni,Nitogr,TaxBurden
0,0,sh.600000,2019-04-30,0.034284,13.371919,0.990015,0.331942,0.860641
1,1,sh.600000,2019-08-24,0.066587,13.428551,0.990590,0.332083,0.848056
2,2,sh.600000,2019-10-30,0.095587,12.929761,0.989481,0.333802,0.846423
4,4,sh.600000,2020-04-25,0.030746,12.668370,0.990359,0.316289,0.846615
5,5,sh.600000,2020-08-29,0.051763,12.984997,0.989779,0.288481,0.871537
6,6,sh.600000,2020-10-31,0.079413,13.028267,0.990086,0.303837,0.875232
7,7,sh.600000,2021-03-27,0.097856,12.546493,0.988677,0.300396,0.884692

In [59]:
process.tail(10)

,date,tic_x,open,high,low,close,amount,Unnamed: 0,tic_y,ROE,AssetStoEquity,Pnitoni,Nitogr,TaxBurden
475,2020-04-21,sh.600000,10.07,10.12,10.01,10.03,176508085.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
476,2020-04-22,sh.600000,10.02,10.07,9.98,10.07,158372535.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
477,2020-04-23,sh.600000,10.10,10.10,10.01,10.06,169579075.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
478,2020-04-24,sh.600000,10.06,10.09,10.01,10.06,170599170.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
479,2020-04-25,NaN,NaN,NaN,NaN,NaN,NaN,4.0,sh.600000,0.030746,12.66837,0.990359,0.316289,0.846615
480,2020-04-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
481,2020-04-27,sh.600000,10.15,10.42,10.15,10.34,520243997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
482,2020-04-28,sh.600000,10.36,10.38,10.22,10.33,301584635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
483,2020-04-29,sh.600000,10.35,10.61,10.33,10.61,367739389.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
484,2020-04-30,sh.600000,10.58,10.79,10.56,10.63,330157488.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN