In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
# matplotlib.use('Agg')
import datetime
import itertools

%matplotlib inline
from finrl import config
from finrl import config_tickers
from finrl.finrl_meta.preprocessor.yahoodownloader import YahooDownloader
from finrl.finrl_meta.preprocessor.preprocessors import FeatureEngineer, data_split
from finrl.finrl_meta.env_stock_trading.env_stocktrading import StockTradingEnv
from finrl.agents.stablebaselines3.models import DRLAgent
from finrl.finrl_meta.data_processor import DataProcessor

from finrl.plot import backtest_stats, backtest_plot, get_daily_return, get_baseline

/home/henry/miniconda3/envs/finrl/lib/python3.7/site-packages/pyfolio/pos.py:27: UserWarning: Module "zipline.assets" not found; multipliers will not be applied to position notionals.
  'Module "zipline.assets" not found; multipliers will not be applied'

In [2]:
import talib

In [3]:
from data_processor import ChinaStockDownloader

In [4]:
downloader = ChinaStockDownloader.ChinaStockDownloader(
        start_date="2019-01-01", end_date="2020-05-01", index="TEST"
    )

In [5]:
price_df = downloader.download_price()
price_df.head()

Load from downloaded data

         date        tic   open   high    low  close        amount
0  2019-01-02  sh.600000   9.74   9.79   9.58   9.70  2.296257e+08
1  2019-01-02  sh.600028   5.10   5.11   4.96   5.01  1.097685e+09
2  2019-01-02  sh.600030  16.01  16.01  16.01  16.01  0.000000e+00
3  2019-01-02  sh.600031   8.31   8.31   7.95   8.05  4.243270e+08
4  2019-01-03  sh.600000   9.70   9.82   9.66   9.81  1.819760e+08

In [6]:
fund_df = downloader.download_fundament()

Load from downloaded data

In [7]:
from data_processor.indicator import add_fundamental_data

df = add_fundamental_data(price_df, fund_df)

In [10]:
fund_df[fund_df['tic'] == 'sh.600000']

,tic,date,ROE,AssetStoEquity,Pnitoni,Nitogr,TaxBurden
0,sh.600000,2019-04-30,0.034284,13.371919,0.990015,0.331942,0.860641
1,sh.600000,2019-08-24,0.066587,13.428551,0.990590,0.332083,0.848056
2,sh.600000,2019-10-30,0.095587,12.929761,0.989481,0.333802,0.846423
3,sh.600000,2020-04-25,0.114901,12.965903,0.990001,0.312059,0.852314
4,sh.600000,2020-04-25,0.030746,12.668370,0.990359,0.316289,0.846615
5,sh.600000,2020-08-29,0.051763,12.984997,0.989779,0.288481,0.871537
6,sh.600000,2020-10-31,0.079413,13.028267,0.990086,0.303837,0.875232
7,sh.600000,2021-03-27,0.097856,12.546493,0.988677,0.300396,0.884692