In [1]:
import os

import pandas as pd
# import modin.pandas as pd
# import ray

# ray.init()

## Generate basic dataset

In [2]:
file_list = os.listdir("./datasets/")
file_list.remove("WIND_ASHAREFINANCIALINDICATOR.csv")

In [3]:
df_list = []
for file in file_list:
    df = pd.read_csv("./datasets/" + file)
    df_list.append(df)
df_all = pd.concat(df_list)

df_all.TICKER = df_all.TICKER.apply(lambda x: x[:-3])

(raylet) Spilled 3516 MiB, 507 objects, write throughput 1037 MiB/s. Set RAY_verbose_spill_logs=0 to disable this message.
(raylet) Spilled 4677 MiB, 707 objects, write throughput 1047 MiB/s.

In [4]:
tic_list = list(df_all.TICKER.unique())
len(tic_list)

5032

In [5]:
target_list = [tic[:-4] for tic in os.listdir("./data/590data/2010-2021_592_fq/")]
len(target_list)

592

In [6]:
df_all = df_all[df_all.TICKER.isin(target_list)]

In [11]:
df_all = df_all.sort_values(by="TRADE_DT").reset_index(drop=True)
df_all.TRADE_DT = df_all.TRADE_DT.apply(lambda x: str(x)).apply(
    lambda a: a[:4] + "-" + a[4:6] + "-" + a[6:]
)
df_all

UserWarning: sort_values defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.
(raylet) Spilled 8363 MiB, 5530 objects, write throughput 619 MiB/s.

,FREE_SHARES,NET_PROFIT_PARENT_COMP_TTM,NET_PROFIT_PARENT_COMP_LYR,NET_ASSETS_TODAY,NET_OPER_CF_TTM,NET_CASH_FLOWS_OPER_ACT_LYR,OPER_REV_TTM,OPER_REV_LYR,NET_INCR_CASH_TTM,NET_INCR_CASH_CASH_EQU_LYR,...,VAL_PS_TTM,TURN,FREE_TURN,TOT_SHR,FLOAT_A_SHR,CLOSE,S_PRICE_DIV_DPS,S_PQ_ADJHIGH_52W,S_PQ_ADJLOW_52W,OP_TS
0,1340.0000,3.373526e+07,3.373526e+07,3.486788e+08,2.936426e+07,2.936426e+07,1.349080e+08,1.349080e+08,1.158443e+07,1.158443e+07,...,9.6251,NaN,NaN,5300.0000,1340.0000,24.50,NaN,27.6800,18.0000,20200522184308
1,7200.0000,2.477823e+08,2.450236e+08,1.815889e+09,-2.351776e+08,8.559357e+08,9.854334e+09,1.084148e+10,3.509936e+07,5.671582e+08,...,0.2498,NaN,NaN,19200.0000,7200.0000,12.82,NaN,23.7083,12.3972,20200522184308
2,16991.5015,3.384454e+07,2.703549e+07,6.749297e+08,7.039787e+07,9.101032e+07,3.078816e+08,2.695041e+08,-5.547415e+07,-7.567949e+06,...,6.6970,NaN,NaN,50412.5155,16991.5015,4.09,NaN,23.4786,14.3561,20200522184308
3,7800.0000,5.986900e+07,5.552911e+07,6.505319e+08,2.394761e+08,2.289848e+08,1.198639e+09,9.438866e+08,3.611531e+07,1.611125e+07,...,2.1982,NaN,NaN,25630.8000,7800.0000,10.28,NaN,37.3591,17.1081,20200522184308
4,12600.0000,8.234860e+07,8.002135e+07,9.458813e+08,1.177241e+08,1.236824e+08,6.304711e+08,5.642791e+08,-1.559185e+08,-1.723820e+07,...,4.0630,NaN,NaN,34200.0000,12600.0000,7.49,NaN,28.3845,13.6508,20200522184308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3628413,37506.3036,8.701518e+05,9.051141e+06,6.240608e+08,1.335585e+08,1.116672e+08,9.115408e+08,9.221313e+08,4.459710e+07,-1.280560e+07,...,3.6420,4.4345,6.2404,52780.2080,52780.2080,6.29,446.3004,26.4933,14.4400,20220811163732
3628414,251735.6330,2.774772e+09,3.373966e+09,2.995816e+10,4.553573e+09,4.681062e+09,1.699097e+10,1.665982e+10,6.534736e+08,3.682469e+08,...,1.8898,0.3923,0.5070,325333.1860,325333.1860,9.87,40.1322,312.9512,183.0291,20220811163732
3628415,67570.0023,1.937447e+08,1.870894e+08,2.936758e+09,3.608468e+08,4.375035e+08,2.665047e+09,2.763962e+09,7.483008e+07,1.254589e+08,...,1.7942,1.4879,1.6955,77000.0023,77000.0023,6.21,77.6250,88.1544,40.5955,20220811163732
3628416,49359.8898,1.148518e+09,1.308538e+09,8.562339e+09,1.255988e+09,1.318898e+09,1.153180e+10,1.067533e+10,1.194022e+09,1.903666e+08,...,3.6940,2.0181,3.3693,86934.4879,82408.0943,49.00,102.3136,531.0020,295.0193,20220811163732
3628417,112473.3154,1.317414e+09,1.671007e+09,1.253988e+10,2.398545e+09,1.579935e+09,2.341952e+10,2.318225e+10,1.115984e+09,2.775527e+08,...,0.6232,0.9799,1.7985,206434.9448,206434.9448,7.07,28.8571,115.0490,41.4094,20220811163732

In [13]:
"000909" in df_all.TICKER.unique()

True

In [14]:
df_all.to_pickle("./data/new_daily_fund.pkl")

UserWarning: `to_pickle` defaulting to pandas implementation.

## Processing

In [2]:
# read price
file_path = "./data/590data/2010-2021_592_fq/"
df_list = []
for file in os.listdir(file_path):
    df = pd.read_csv(file_path + file, index_col=0)
    df["tic"] = file[:-4]
    df_list.append(df)
price_df = pd.concat(df_list).reset_index(drop=True)
price_df = price_df.rename(
    columns=dict(zip(price_df.columns, price_df.columns.map(lambda x: x.lower())))
)

In [3]:
fund_df = pd.read_pickle("./data/new_daily_fund.pkl")

target_col = [
    "TICKER",
    "TRADE_DT",
    "VAL_MV",
    "DQ_MV",
    "VAL_PB",
    "VAL_PE_TTM",
    "S_VAL_PCF_OCF",
    "S_VAL_PCF_OCFTTM",
    "S_VAL_PCF_NCF",
    "S_VAL_PCF_NCFTTM",
    "S_VAL_PS",
    "VAL_PS_TTM",
    "TURN"
]

rename_col = [
    "tic",
    "date",
    "MV",
    "C_MV",
    "PB",
    "PE_TMM",
    "PCF_OCF",
    "PCF_OCFTTM",
    "PCF_NCF",
    "PCF_NCFTTM",
    "PS",
    "PS_TTM",
    "TURN"
]

rename_dict = dict(zip(target_col, rename_col))

fund_df = fund_df[target_col]
fund_df = fund_df.rename(columns=rename_dict)
fund_df = fund_df[fund_df.date > "2010-01-01"]
fund_df.head()

,tic,date,MV,C_MV,PB,PE_TMM,PCF_OCF,PCF_OCFTTM,PCF_NCF,PCF_NCFTTM,PS,PS_TTM,TURN
903043,000909,2010-01-02,2.704800e+05,2.704800e+05,5.1001,NaN,NaN,8.6698,NaN,10.0966,3.1762,5.1226,NaN
903044,000905,2010-01-02,4.449780e+05,1.996820e+05,2.9401,77.5717,14.6741,17.8507,NaN,134.4770,1.6183,2.5746,NaN
903045,000898,2010-01-02,1.157569e+07,2.892964e+06,2.2261,NaN,9.6965,16.4661,NaN,166.7967,1.4539,1.7593,NaN
903046,000897,2010-01-02,9.525733e+05,9.524173e+05,4.4285,576.1120,NaN,26.7469,NaN,74.3219,7.8912,8.4464,NaN
903047,000848,2010-01-02,5.014469e+05,5.011735e+05,8.5918,48.8191,29.8957,16.7807,NaN,44.5532,3.3060,3.7060,NaN

In [4]:
len(fund_df.tic.unique())

592

In [5]:
dataset_df = pd.merge(price_df, fund_df, how="left", on=['tic', 'date'])
dataset_df.head()

,date,open,close,high,low,volume,tic,MV,C_MV,PB,PE_TMM,PCF_OCF,PCF_OCFTTM,PCF_NCF,PCF_NCFTTM,PS,PS_TTM,TURN
0,2010-01-04,66.88,65.91,66.93,65.62,16868.93,600639,1.147521e+06,811259.8065,3.5423,47.7454,40.9028,NaN,676.7955,NaN,10.1862,13.5152,0.4277
1,2010-01-05,65.81,64.89,66.20,64.26,19053.66,600639,1.129789e+06,798723.7830,3.4876,47.0076,40.2707,NaN,666.3373,NaN,10.0288,13.3064,0.4919
2,2010-01-06,64.99,64.55,65.38,63.92,30573.77,600639,1.123878e+06,794545.1085,3.4694,46.7617,40.0601,NaN,662.8512,NaN,9.9763,13.2367,0.7937
3,2010-01-07,64.21,63.83,64.75,63.39,17824.67,600639,1.111213e+06,785590.8060,3.4303,46.2347,39.6086,NaN,655.3811,NaN,9.8639,13.0876,0.4668
4,2010-01-08,63.53,65.67,65.96,63.53,30222.14,600639,1.143299e+06,808275.0390,3.5293,47.5697,40.7523,NaN,674.3055,NaN,10.1487,13.4655,0.7789

In [8]:
import numpy as np

dataset_df = dataset_df.fillna(1e-3)

In [9]:
dataset_df.isna().sum()

date          0
open          0
close         0
high          0
low           0
volume        0
tic           0
MV            0
C_MV          0
PB            0
PE_TMM        0
PCF_OCF       0
PCF_OCFTTM    0
PCF_NCF       0
PCF_NCFTTM    0
PS            0
PS_TTM        0
TURN          0
dtype: int64

In [10]:
dataset_df.to_pickle("price_with_daily_fund.pkl")

In [49]:
total_missing = 0
for tic in dataset_df.tic.unique():
    tic_df = dataset_df[dataset_df.tic == tic]
    l = len(tic_df)
    all_nan_num = (tic_df.isna().sum() == l).sum()
    if all_nan_num > 0:
        print(tic, all_nan_num)
        total_missing += 1
        
print(total_missing)

0